* {
    border: 1px solid #3e3e3e;
    margin: 5px;
}

body {
    background-color: #d8bfd8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

div {
    height: 200px;
}

#div-1 {
    background-color: #9370db;
}

#div-2 {
    background-color: #8fbc8b;
}

#div-3 {
    background-color: #6495ed;
}

#div-4 {
    background-color: #f5deb3;
}
/*** Your code here ***/

@media (min-width: 500px) {
    div {
        display: inline-block;
        font-size: 30px;
        width: 44%;
    }

    #div-2 {
        background-color: #9370db;
    }

    #div-4 {
        background-color: #6495ed;
    }
}

@media (min-width: 900px) {
    div {
        display: inline-block;
        font-size:40px;
        width: 22%;
        vertical-align: middle;
    }

    #div-3, #div-4 {
        background-color: #9370db;
    }
}

/* desktop anything above 1200px max */
/* 400-800px mobile */
/* best to keep at 3 break-points at most */


@media (max-width: )